<div class="clients">
    <div class="client-form">
        <h1>Add Client</h1>
        <form action="/api/client/create" method="post">
            <label for="client_name">Client Account Name:</label>
            <input type="text" name="client_name" placeholder="Ex. AMG Autos">
            <label for="client_contact">Client Contact</label>
            <input type="text" name="client_contact" placeholder="John Doe">
            <button type="submit">Add</button>
        </form>
    </div>  

    <h1>Clients List:</h1>
    {{#if allClients }}
        {{#each allClients }}
            <li>Company Ref Number: {{ this._id }}</li>
            <li>Company: {{ this.name }}</li>
            <li>Contact: {{ this.contact }}</li>
            {{#if projects}}
            <h3>I got projects!!</h3>
            <li>All Projects: {{ this.projects }}</li>
            {{else}}
            <li>All Projects: No projects currently</li>
            {{/if}}
            <hr>
        {{/each }}
        </ul>
    {{else }}
        <h2>No Clients Currently</h2>
    {{/if }}
</div>