<div class="clients">
    <div class="client-form">
        <h1>Add Client</h1>
        <form action="/api/client/create" method="post">
            <label for="client_name">Client Account Name:</label>
            <input type="text" name="client_name" placeholder="Ex. AMG Autos">
            <label for="client_contact">Client Contact</label>
            <input type="text" name="client_contact" placeholder="John Doe">
            <button type="submit">Add</button>
        </form>
    </div>  
    <br>
    <hr>
    <h1>Clients List:</h1>
    {{#if allClients }}
        {{#each allClients }}
            <h3>Company: {{ this.name }}</h3>
            <li>Company Ref Number: {{ this._id }}</li>
            <li>Contact: {{ this.contact }}</li>

            {{#if projects}}
            <h4>Project List | Num Projects: ({{projects.length }})</h4>
            <ul>
            {{#each projects }}
                <li>Project Title: {{ this.title }}</li>
                <li>Project ID: {{ this._id }}</li>
                <li>Description: {{ this.description }}</li>
                <br>
            {{/each }}
            </ul>

            {{else}}
            <li>All Projects: No projects currently</li>
            {{/if}}
            <hr>
        {{/each }}
        </ul>
    {{else }}
        <h2>No Clients Currently</h2>
    {{/if }}
</div>
