<div class="projects-container">
    <div class="project-form">
        <h1>Add Project</h1>
        <form action="/api/project/create" method="post">
            <label for="project_title">Project Name:</label>
            <input type="text" name="project_title" placeholder="Web Site">
            <label for="project_desc">Project Description:</label>
            <input type="textarea" name="project_desc" placeholder="Enter short project description">
            <label for="client_id">Client Identification Number</label>
            <input type="text" name="client_id" placeholder="#12345">
            <button type="submit">Add</button>
        </form>
    </div>
    <hr>
    <div class="project-list">
        <h1>Current Projects</h1>
        {{#if allProjects }}
        <ul>
        {{#each allProjects }}
            <h4>Project Title: {{ this.title }}</h4>
            <li>Project ID: {{ this._id }}</li>
            <li>Project Description: {{ this.description }}</li>
            <li>Client ID: {{ this.client_id }}</li>
            <hr>
        {{/each }}
        </ul>
        {{else}}
        <h2>No Projects Currently</h2>
        {{/if }}
    </div>
</div>