<div class="sessions-container">
    <div class="container">

        <div class="row">
            <div class="col s12">
                <div class="project-list">
                    <h5>All Sessions | Total: {{ allSessions.length }}</h5>
                    <div class="session-start-button">
                        <a href="/sessions/start"><button class="waves-effect waves-light btn orange lighten-1">New Session</button></a>
                    </div>
                    <hr>
                    {{#if allSessions }}
                        <table class="responsive-table centered striped">
                            <thead>
                                <tr>
                                    <th>Session Date</th>
                                    <th>Session Id#</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Total Session Time</th>
                                    <th>Project Id</th>
                                    <th>Client</th>
                                    <th>Session Notes</th>
                                    <th>User</th>
                                    <th>Delete Session</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each allSessions }}
                                <tr>
                                    <td>{{moment this.date format="MMMM Do" }}</td>
                                    <td>{{ this._id }}</td>
                                    <td>{{moment this.start_time format="h:mm a"}}</td>
                                    <td>{{moment this.end_time format="h:mm a"}}</td>
                                    <td>{{moment this.session_length format="m" }} minutes</td>
                                    <td>{{ this.project_id }}</td>
                                    <td>xxx</td>
                                    <td>{{ this.notes }}</td>
                                    <td><a href="/users/overview"></a>{{ this.session_user.username }}</td>
                                    <td><form action="/sessions/{{ this._id }}?_method=DELETE" method="POST">
                                        <button class="right waves-effect waves-light btn red darken-2" type="submit"><i
                                                class="material-icons">delete</i></button>
                                    </form></td>
                                </tr>
                            {{/each }}
                            </tbody>
                        </table>
                    {{else}}
                    <h2>No Sessions Currently</h2>
                    {{/if }}
                </div>

            </div>
        </div>

    </div>

</div>