<div class="projects-container">
    <div class="row">
        <div class="col s12">
            <div class="project-form">
                <h3>Start New Session</h3>
                <a href="/session/start"><button class="waves-effect waves-light btn orange lighten-1">Start</button></a>
            </div>
            <br>
            <hr>
            <div class="project-list">
                <h3>All Sessions</h3>
                {{#if allSessions }}
                <ul>
                    {{#each allSessions }}
                    <h5>Session Date: {{moment this.date format="dddd, MMMM Do" }}</h5>
                    <li>Session Id#: {{ this._id }}</li>
                    <li>Start Time: {{moment this.start_time format="dddd, DD MMMM h:mm a"}}</li>
                    <li>End Time: {{moment this.end_time format="dddd, DD MMMM h:mm a"}}</li>
                    <li>Total Session Time: {{moment this.session_length format="mm" }} minutes</li>
                    <li>Total Session Time: {{ this.session_length }}</li>
                    <li>Project Id#: {{ this.project_id }}</li>
                    <li>Client: </li>
                    <li>Session Notes: {{ this.notes }}</li>
                    <form action="/api/session/{{ this._id }}?_method=DELETE" method="POST">
                        <button class="right waves-effect waves-light btn red darken-2" type="submit"><i class="material-icons">delete</i></button>
                    </form>
                    <br>
                    <br>
                    <hr>
                    {{/each }}
                </ul>
                {{else}}
                <h2>No Sessions Currently</h2>
                {{/if }}
            </div>

        </div>
    </div>
</div>