{{!-- Search function --}}
{{!-- <div class="container" id="client-container">
  <div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What you looking for?">
  </div>
  <span class="counter pull-right"></span>
</div> --}}

{{!-- table --}}
<div class="container mt-5">
  <div class="client-list text-center mb-3">
    <h2>Current Client List</h2>
  </div>
  <table class="table table-hover table-bordered results">
    <thead class="thead-dark">
      <tr>
        <th scope="col-lg-4 col-md-4 col-xs-4">Client</th>
        <th scope="col-lg-4 col-md-4 col-xs-4">Primary Contact</th>
        <th scope="col-lg-4 col-md-4 col-xs-4">Secondary Contact</th>
        <th scope="col-log-4 col-md-4 col-xs-4">Projects</th>
        <th scope="col-log-4 col-md-4 col-xs-4">Edit / Modify</th>
      </tr>
      <tr class="warning no-result">
        <td colspan="4"><i class="fa fa-warning"></i> No result</td>
      </tr>
    </thead>
    <tbody>
      {{#each allClients}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.primary}}</td>
        <td>{{this.secondary}}</td>
        <td>
          <div class="form-group">
            <select class="form-control">
              {{#each all_projects}}
              <option>{{this.title}}</option>
              {{/each}}
            </select>
          </div>
        </td>
        <td>
          <div class="row m-auto">
            <a href="/clients/{{ this._id }}" class="btn btn-success mr-3" type="submit"><i class="fas fa-edit"></i></a>

            <form action="/clients/{{ this._id }}?_method=DELETE" method="POST">
              <button class="btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i></button>
            </form>
          </div>
        </td>

      </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="new-client">
    <div class="row justify-content-end">
      <a href="/clients/create" class="mr-3">
        <button class="btn btn-success">New Client</button>
      </a>
    </div>
  </div>
</div>