<div class="client-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h5>Current Client Info</h5>
                    </div>
                    <div class="card-body">
                        {{!-- <p class="card-text">Client ID: {{ item._id }}</p> --}}
                        <p class="card-text">Client Name: {{ item.name }}</p>
                        <p class="card-text">Primary Contact: {{ item.primary }}</p>
                        <p class="card-text">Secondary Contact: {{ item.secondary }}</p>
                        <hr>
                        <p class="card-text">Client Projects:</p>
                        <table class="table table-hover table-bordered results">
                            <thead>
                                <tr>
                                    <th scope="col-lg-4 col-md-4 col-xs-4">Project Title</th>
                                    <th scope="col-lg-4 col-md-4 col-xs-4">Project Description</th>
                                    <th scope="col-lg-4 col-md-4 col-xs-4">Start Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each client_proj }}
                                <tr>
                                    <td>{{ this.title }}</td>
                                    <td>{{ this.description }}</td>
                                    <td>{{ this.created_at }}</td>
                                </tr>
                                {{/each }}
                            </tbody>
                        </table>
                        <div class="row justify-content-end">
                            <a href="/clients/{{ item._id }}/edit" class="mr-3">
                                <button class="btn btn-success right" type="submit">Edit Client</button>
                            </a>
                            <a href="/clients" class="mr-3">
                                <button class="btn btn-primary right" type="submit">Back</button>
                            </a>

                        </div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        Client Data
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>