<div class="edit-projects-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Edit Project</h3>
                <form action="/projects/{{ proj._id }}?_method=PUT" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="project_title">Project Name:</label>
                            <input class="form-control" type="text" name="project_title"
                                value="{{ proj.title }}">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="project_desc">Project Description:</label>
                            <textarea id="project_desc" name="project_desc" class="form-control">{{ proj.description }}</textarea>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="client_id">Project is associated with Client:</label>
                            <select id="client_id" name="client_id" class="form-control">
                                <option value="{{ current._id }}" selected="{{ current._id }}">{{ current.name }}</option>
                                {{#each allClients }}
                                <option value="{{ this._id }}">{{ this.name }}</option>
                                {{/each }}
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-success mr-3">Save <i class="fas fa-save"></i></button>
                    </div>
                </form>
                <div class="row mt-2">
                    <a href="/projects/{{ proj._id }}"><button class="btn btn-warning">Cancel <i class="fas fa-window-close"></i></button></a>
                </div>
            </div>
        </div>
    </div>
</div>