<div class="session-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h5>Current Session Info:</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Username: {{ single.session_user.username }}</p>
                        <p class="card-text">Session ID: {{ single._id }}</p>
                        <p class="card-text">Session Date: {{ single.date }}</p>
                        <p class="card-text">Session Length: {{ single.session_length }}</p>
                        <p class="card-text">Session Start: {{ single.start_time }}</p>
                        <p class="card-text">Session End: {{ single.end_time }}</p>
                        <p class="card-text">Notes: {{ single.notes }}</p>
                        <p class="card-text">Project ID: {{ single.project_id }}</p>
                        <p class="card-text">Project Title: {{ single.project_title }}</p>
                        <p class="card-text">Project Description: {{ single.project_desc }}</p>
                        <a href="/sessions/{{ single._id }}/edit">
                            <button class="btn btn-success right" type="submit">Update Session</button>
                        </a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>