<div class="session-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h5>Current Session Info:</h5>
                <hr>
                <p>Username: {{ single.session_user.username }}</p>
                <p>Session ID: {{ single._id }}</p>
                <p>Session Date: {{ single.date }}</p>
                <p>Session Length: {{ single.session_length }}</p>
                <p>Session Start: {{ single.start_time }}</p>
                <p>Session End: {{ single.end_time }}</p>
                <p>Notes: {{ single.notes }}</p>
                <p>Project ID: {{ single.project_id }}</p>
                <p>Project Title: {{ single.project_title }}</p>
                <p>Project Description: {{ single.project_desc }}</p>
                <a href="/sessions/{{ single._id }}/edit">
                    <button class="btn btn-success" type="submit">Update Session</button>
                </a>
            </div>
        </div>
    </div>
</div>