<div class="sessions-container">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="project-list">
                    <h5>All Sessions | Total: {{ allSessions.length }}</h5>
                    <div class="session-start-button">
                        <a href="/sessions/start"><button class="btn btn-warning">New Session</button></a>
                    </div>
                    <hr>
                    {{#if allSessions }}
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th>Session Date</th>
                                    {{!-- <th>Session Id#</th> --}}
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Total Session Time</th>
                                    <th>Project Name</th>
                                    <th>Client</th>
                                    {{!-- <th>Session Notes</th> --}}
                                    <th>Logged By User</th>
                                    <th>Modify Session</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each allSessions }}
                                <tr>
                                    <td>{{moment this.date format="MMMM Do" }}</td>
                                    {{!-- <td>{{ this._id }}</td> --}}
                                    <td>{{moment this.start_time format="h:mm a"}}</td>
                                    <td>{{moment this.end_time format="h:mm a"}}</td>
                                    <td>{{moment this.session_length format="m" }} minutes</td>
                                    <td>{{ this.project_title }}</td>
                                    <td>xxx</td>
                                    {{!-- <td>{{ this.notes }}</td> --}}
                                    <td><a href="/users/overview"></a>{{ this.session_user.username }}</td>
                                    <td>
                                        <a href="/sessions/{{ this._id }}" class="btn btn-success" type="submit"><i class="fas fa-edit"></i></a>

                                        <form action="/sessions/{{ this._id }}?_method=DELETE" method="POST">
                                            <button class="btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            {{/each }}
                            </tbody>
                        </table>
                    {{else}}
                    <h2>No Sessions Currently</h2>
                    {{/if }}
                </div>

            </div>
        </div>

    </div>

</div>