<div class="container">
    <div class="user-detail mt-5">
        <h4>User ID: {{ currentUser._id }}</h4>
        <h4>Username: {{ currentUser.username }}</h4>
        <h4>Email: {{ currentUser.email }}</h4>
        <h4>Full Name: {{ currentUser.fullname }}</h4>
        <h4>Department: {{ currentUser.department }}</h4>
        <h4>Sessions: {{ currentUser.session }}</h4>
        <h4>Assigned To: {{ currentUser.assigned_to }}</h4>
    </div>
</div>